.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

p {
  margin-bottom: 10px;
}

.body {
  display: block;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  font-family: Montserrat, sans-serif;
}

.navbar-wrapper {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.navbar-button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navlinks {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px none #000;
}

.navbar {
  position: static;
  z-index: 9990;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #fff;
}

.hero-section {
  padding-top: 20px;
  padding-bottom: 35px;
}

.hero-wrapper {
  display: block;
  width: 90%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.hero-headline {
  font-size: 44px;
  line-height: 50px;
  font-weight: 600;
  text-align: center;
}

.bold-text {
  font-weight: 600;
}

.feature-section {
  display: block;
  margin-top: 8px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-decoration: none;
}

.feature-wrapper {
  display: -ms-grid;
  display: grid;
  width: 90%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  justify-items: center;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-align: left;
}

.feature-wrapper.margin-20-top {
  margin-top: 40px;
}

.big-feature-image.margin-top {
  margin-top: 32px;
}

.big-feature-image.padding-32-top {
  padding-top: 32px;
}

.feature-grid-block {
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  text-align: left;
  white-space: normal;
  cursor: default;
}

.feature-grid-block.card {
  padding: 32px;
  box-shadow: 0 0 10px 0 #000;
}

.feature-grid-block.card.problem {
  box-shadow: 0 0 10px 0 #970c0c;
}

.feature-grid-block.card.solution {
  box-shadow: 0 0 10px 0 #1438ca;
}

.bold-text-2 {
  position: relative;
  font-weight: 700;
  text-align: left;
}

.paragraph {
  margin-bottom: 8px;
  padding-bottom: 0px;
  color: #333;
  line-height: 23px;
  text-align: left;
}

.paragraph.margintop16 {
  margin-top: 16px;
}

.solo-feature-block {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 45px;
  background-image: url('../images/feature-dot-min.png');
  background-position: 0% 50%;
  background-size: 25px;
  background-repeat: no-repeat;
}

.solo-feature-para {
  margin-bottom: 0px;
  color: #1d262c;
}

.view-all-features-link {
  display: inline-block;
  margin-top: 25px;
  padding-right: 25px;
  background-image: url('../images/right-arrow.png');
  background-position: 100% 50%;
  background-size: 15px;
  background-repeat: no-repeat;
  color: #0074e4;
  text-decoration: none;
}

.final-features-section {
  padding-top: 32px;
  padding-bottom: 64px;
  background-color: #f9f9f9;
}

.final-features-wrapper {
  width: 90%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.final-features-heading {
  margin-bottom: 64px;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.paragraph-3 {
  color: #71828a;
  text-align: center;
}

.heading-block {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.footer-section {
  padding-top: 50px;
  padding-bottom: 20px;
}

.footer-wrapper {
  width: 90%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
}

.footer-grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-content-block {
  padding: 15px 5px;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 600;
}

.footer-link {
  display: block;
  overflow: visible;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #333;
  text-decoration: none;
}

.social-icons {
  display: block;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.social-link {
  padding-right: 20px;
  padding-bottom: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: 'Fa brands 400';
  text-decoration: none;
}

.footer-plugs {
  margin-top: 25px;
  margin-bottom: 0px;
  color: #333;
  text-align: center;
}

.nav-menu {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.heading {
  text-align: left;
}

.heading-2 {
  text-align: center;
}

.button-primary {
  background-color: #5151bb;
  text-align: left;
}

.heading-3 {
  color: #6868ed;
  text-align: left;
}

.social-image {
  display: block;
  overflow: visible;
  width: 34px;
  color: #404040;
}

.centre_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  height: 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.h2 {
  margin-top: 0px;
  color: #1d1f45;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
}

.process_card_02 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.process_line {
  position: absolute;
  width: 2px;
  height: 70%;
  background-image: url('../images/line.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: repeat-y;
}

.process_card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.process_image_wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  min-height: 300px;
  padding: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.process-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 25px 120px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.section_container {
  max-width: 1140px;
}

.centre_icon_wrap {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 55px;
  height: 55px;
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 19px;
  background-color: #fff;
  box-shadow: 1px 1px 35px 18px rgba(230, 203, 255, 0.14);
}

.process_details {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  min-height: 300px;
  padding: 30px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.centre_step {
  color: #6937ff;
  font-size: 21px;
  font-weight: 800;
}

.vertical-process {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 900px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.text-block {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
}

.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-align: left;
}

.brand {
  padding-left: 0px;
}

.brand.w--current {
  padding-left: 0px;
}

.feature-wrapper-3-cols {
  display: -ms-grid;
  display: grid;
  width: 90%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  justify-items: center;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-align: center;
}

.logo {
  margin-bottom: 0px;
  color: #6868ed;
  text-align: left;
}

.image-2 {
  width: 100%;
}

.italic-text {
  color: #333;
}

.feature-grid-block-with-full-padding {
  padding: 32px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  text-align: left;
  white-space: normal;
  cursor: pointer;
}

.feature-grid-block-with-full-padding:hover {
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(113, 130, 138, 0.2);
  color: #1d262c;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.grid {
  grid-template-areas: ". Area";
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-2 {
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.cards-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.centered-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.cards-grid-container {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-align: left;
}

.cards-image-mask {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  border-radius: 0%;
}

.cards-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  max-width: none;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.grid-3 {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.image-3 {
  margin-left: 26px;
}

.paragraph-4 {
  margin-top: 16px;
}

.margintop16 {
  margin-top: 16px;
}

.paragraph-5 {
  text-align: left;
}

.container-2 {
  text-decoration: none;
}

.paragraph-6 {
  position: static;
}

.grid-4 {
  display: -ms-grid;
  display: grid;
  padding-top: 20px;
  padding-left: 140px;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: "Area";
  -ms-grid-columns: 0.88fr;
  grid-template-columns: 0.88fr;
  -ms-grid-rows: 171px;
  grid-template-rows: 171px;
  text-transform: capitalize;
}

.text-block-2 {
  padding-right: 20px;
  padding-left: 20px;
}

.text-block-3 {
  padding-right: 20px;
  padding-left: 20px;
  text-transform: none;
}

.section {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 15px;
  grid-template-areas: "Area"
    "Area-2"
    "Area-3";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto 15px auto 15px 65px 15px auto 15px auto 15px auto;
  grid-template-rows: auto auto 65px auto auto auto;
}

.text-block-4 {
  padding-right: 60px;
  padding-left: 57px;
}

.heading-4 {
  padding-left: 57px;
}

.heading-5 {
  text-align: center;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #8b39ff;
  text-align: center;
  text-decoration: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.text-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.link {
  color: #fff;
}

@media screen and (max-width: 991px) {
  .navbar-wrapper {
    width: 90%;
    padding-left: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .navlinks {
    color: #fff;
  }

  .navlinks.w--current {
    background-color: #f7f7f7;
    cursor: pointer;
  }

  .feature-section {
    display: block;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .feature-wrapper {
    display: block;
  }

  .feature-grid-block {
    padding: 15px;
  }

  .heading-block {
    width: 500px;
  }

  .footer-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .menu-button {
    background-color: #fff;
    cursor: pointer;
  }

  .menu-button.w--open {
    background-color: #fff;
  }

  .nav-menu {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #2f2f70;
    cursor: pointer;
  }

  .icon {
    color: #2c2c2c;
  }

  .centre_block {
    width: 150px;
  }

  .process_image_wrap {
    padding: 15px;
  }

  .process-section {
    padding-bottom: 20px;
  }

  .process_details {
    padding: 10px;
  }

  .feature-wrapper-3-cols {
    display: block;
  }

  .feature-grid-block-with-full-padding {
    padding: 15px;
  }

  .cards-grid-container {
    grid-column-gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  .navlinks {
    cursor: pointer;
  }

  .navlinks.w--current {
    background-color: #7878dd;
    color: #fff;
    cursor: pointer;
  }

  .navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
  }

  .hero-wrapper {
    padding-right: 25px;
    padding-left: 25px;
  }

  .final-features-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .heading-block {
    width: auto;
  }

  .footer-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .centre_block {
    width: 55px;
  }

  .process_card_02 {
    margin-bottom: 35px;
  }

  .process_line {
    left: 25px;
    top: 0%;
    right: auto;
    bottom: 0%;
  }

  .process_card {
    margin-bottom: 35px;
    padding-bottom: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .process_image_wrap {
    display: none;
  }

  .process-section {
    padding-right: 15px;
    padding-left: 15px;
  }

  .process_details {
    width: 90%;
    min-height: auto;
    padding: 20px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .cards-section {
    padding: 40px 20px;
  }

  .cards-grid-container {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
}

@media screen and (max-width: 479px) {
  .navlinks {
    padding-left: 0px;
  }

  .navlinks.w--current {
    padding-right: 10px;
    padding-left: 10px;
  }

  .hero-wrapper {
    padding-right: 0px;
    padding-left: 0px;
  }

  .hero-headline {
    font-size: 28px;
    line-height: 35px;
  }

  .footer-grid {
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer-heading {
    margin-bottom: 10px;
  }

  .footer-link {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .social-icons {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .social-link {
    padding-right: 10px;
    padding-left: 10px;
  }

  .nav-menu {
    padding: 20px;
  }

  .h2 {
    font-size: 27px;
  }

  .process_details {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }

  .centered-container {
    text-align: left;
  }

  .cards-grid-container {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

#w-node-d651836c-7aaa-5e4a-e094-33dbcc2022ac-dbc92565 {
  -webkit-box-ordinal-group: 10000;
  -webkit-order: 9999;
  -ms-flex-order: 9999;
  order: 9999;
}

#w-node-_6f1f9170-9212-ba6f-1518-311b0e90bc52-dbc92565 {
  -webkit-box-ordinal-group: -9998;
  -webkit-order: -9999;
  -ms-flex-order: -9999;
  order: -9999;
}

#w-node-f883f01f-8ab2-a332-a8ea-6c19379e8ae9-dbc92565 {
  -webkit-box-ordinal-group: 10000;
  -webkit-order: 9999;
  -ms-flex-order: 9999;
  order: 9999;
}

#w-node-f883f01f-8ab2-a332-a8ea-6c19379e8ae1-dbc92565 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_9dae349a-a0a8-74af-f00a-380b01327929-dbc92565 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-a44629f6-47f3-0e85-6afe-77fb09c1167c-daf470cd {
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-a44629f6-47f3-0e85-6afe-77fb09c1168e-daf470cd {
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a44629f6-47f3-0e85-6afe-77fb09c11697-daf470cd {
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a44629f6-47f3-0e85-6afe-77fb09c116a9-daf470cd {
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_4b688e1e-779e-539f-100b-8add3f5ac82c-a7c92569 {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

#w-node-ecee778b-6580-067e-0d22-c70d998cd269-58c9256b {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_4d2a3ff5-3cbe-48e8-7f33-9703ca2dbf9e-58c9256b {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_60fc3c0c-6467-3a5b-80fa-29fd9b5026c5-95c9256f {
  -webkit-box-ordinal-group: 10000;
  -webkit-order: 9999;
  -ms-flex-order: 9999;
  order: 9999;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_870a2771-9e11-c84a-22c3-cfe4864fc443-95c9256f {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-ce846b2f-10b1-2e84-8cdf-ac9bed0295bc-e5c92570 {
  -webkit-box-ordinal-group: 10000;
  -webkit-order: 9999;
  -ms-flex-order: 9999;
  order: 9999;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_61ffa415-22e4-a4bc-09a9-705910d50ef9-e5c92570 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_6e09fa56-77e6-2afd-d91d-538fe41e5e79-d9e918dd {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_6e09fa56-77e6-2afd-d91d-538fe41e5e7b-d9e918dd {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

@media screen and (max-width: 767px) {
  #w-node-_0298dd94-6aba-8d4a-4e7c-b68e0a1d0db9-ecc92572 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_0298dd94-6aba-8d4a-4e7c-b68e0a1d0dbb-ecc92572 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_0298dd94-6aba-8d4a-4e7c-b68e0a1d0dc0-ecc92572 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_0298dd94-6aba-8d4a-4e7c-b68e0a1d0dc2-ecc92572 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
  }

  #w-node-_12a35b44-29d3-e132-886c-007fc0d73be6-ecc92572 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_12a35b44-29d3-e132-886c-007fc0d73be8-ecc92572 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
  }
}

@media screen and (max-width: 479px) {
  #w-node-a44629f6-47f3-0e85-6afe-77fb09c116a9-daf470cd {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_0298dd94-6aba-8d4a-4e7c-b68e0a1d0daf-ecc92572 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_0298dd94-6aba-8d4a-4e7c-b68e0a1d0db6-ecc92572 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_0298dd94-6aba-8d4a-4e7c-b68e0a1d0dbd-ecc92572 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_12a35b44-29d3-e132-886c-007fc0d73be3-ecc92572 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

